<h1>Hello World! Rails Girls More!</h1>
<p>
  こんにちは、私の名前は
  <a href="https://twitter.com/ryamakuchi">rry@ryamakuchi</a>
  です!<br>
  Rails Girls More! に初参加して、ただいま
  <a href="http://railsgirls.jp/app">RailsGuides</a>
  をやっています。Railsやっていき!(^-^)/
</p>
